.app-list-item {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, .15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.controls a {
  cursor: pointer;
  opacity: 0.1;
  transition: opacity .3s ease-in-out;
}

.controls a:first-child {
  margin-right: .5em;
  color: green;
}

.controls a:last-child {
  color: red;
}

.app-list-item:hover .controls a {
  opacity: 1;
}

.content-container input {
  border: none;
  outline: none;
  font-size: .9em;
}