.app-list-item {
  padding: 1em;
  border: 1px solid rgba(0, 0, 0, .15);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.app-list-item:not(:last-child) {
  margin-bottom: 8px;
}

.controls a {
  cursor: pointer;
}

.controls a:first-child {
  margin-right: .5em;
  color: green;
}

.controls a:last-child {
  color: red;
}